* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	font-family: 'Futura', sans-serif;
}

html,body {
	margin: 0;
	height: 100%;
}

h1 {
	font-size: 20px;
	color: #000;
	font-weight: 400;
	text-align: center;
	padding: 20px;
	padding-top: 75px;
}

h2 {
	font-size: 40px;
	color: #fff;
	font-weight: 400;
}

h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
}

h4 {
	-webkit-font-smoothing: auto;
}

a {
	text-decoration: none;
	color: #ccc;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	text-align: right;
	padding: 20px;
	z-index: 1;
	font-size: 14px;
}
	#navBar {
		color: #ccc;
		margin-right: 40px;
	}

		#navBar li {
			display: inline-block;
			margin: 0 6px;
		}
		#navBar a {
			-webkit-transition: 0.2s color linear;
			-moz-transition: 0.2s color linear;
			transition: 0.2s color linear;
		}

		#navBar a:hover {
			color: #27ae60;
		}

main {
	height: 100%;
	width: 100%;
}
	main > * {
		/*height: 100%;*/
	}
	#home {
		height: 100%;
	}

		#home > div {
			height: 100%;
			width: 100%
		}
			#homePic {
				position: absolute;
				top: 0;
				background: url('../images/hawkridge.jpg') no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			#homeContent {
				position: relative;
				height: 100%;
				text-align: center;
			}
				#homeContent > * {
					position: absolute;
					top: 40%;
					left: 0;
					right: 0;
				}

				#homeContent button {
					background: none;
					outline: 0;
					font-size: 25px;
					border: 1px solid #fff;
					padding: 8px 15px;
					cursor: pointer;
					margin-top: 25px;
					color: #fff;
				}

				#homeContent button {
					-webkit-transition: 0.2s background-color linear;
					-moz-transition: 0.2s background-color linear;
					transition: 0.2s background-color linear;
				}

				#homeContent button:hover {
					background: rgba(255,255,255,0.2);
				}

	#sponsors {
		text-align: center;
	}

		#sponsors li {
			display: inline-block;
			margin: 50px;
		}

			#sponsors li > div {
				height: 200px;
				width: 200px;
				background-color: gray;
				border-radius: 40px;
			}
	#gallery p {
		text-align: center;
	}

footer {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	text-align: center;
	padding: 20px;
	z-index: 1;
	font-size: 14px;
}

#purchaseOverlay {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	opacity: 0;

	-webkit-transition: 500ms opacity ease;
	-moz-transition: 500ms opacity ease;
	-ms-transition: 500ms opacity ease;
	-o-transition: 500ms opacity ease;
	transition: 500ms opacity ease;
}

	#purchaseContent {
		width: 300px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		padding: 20px 40px;
		background-color: #eee;
		top: 200px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
	}
	#purchaseClose {
		position: absolute;
		top: 7px;
		left: 8px;
		width: 22px;
		height: 23px;
		background: url("https://a.stripecdn.com/checkout/v3/images/close-gbN3V5bjbhRxDClwGYFQ.png") no-repeat;
		background-size: 100% 100%;
		cursor: pointer;
	}

	#extraInfo {
		position: relative;
		height: 37px;
	}

		#extraInfo > div {
			position: absolute;
			-webkit-transform: translate3d(0,0,0);
			height: 37px;
		}

		#extraInfo > div.left {
			width: 40%;
			right: auto;
		}
		#extraInfo > div.left input {
			border-right: 1px solid #e4e4e4;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		#extraInfo > div.right {
			width: 60%;
			left: 40%;
			right: 0;
		}

		#extraInfo > div.right input {
			border-left-color: transparent;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		#extraInfo input {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 37px;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			background: #fff;
			padding: 0 6px 2px 8px;
			margin: 0;
			font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
			font-size: 15px;
			color: #000;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			-o-user-select: text;
			user-select: text;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			border: 1px solid #cececf;
			border-top-color: #b5b5b6;
			border-bottom-color: #dededf;
			-webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			-webkit-transition: border-color .15s linear,box-shadow .15s linear;
			-moz-transition: border-color .15s linear,box-shadow .15s linear;
			-ms-transition: border-color .15s linear,box-shadow .15s linear;
			-o-transition: border-color .15s linear,box-shadow .15s linear;
			transition: border-color .15s linear,box-shadow .15s linear;
		}

		#extraInput .left input:focus {
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			border-color: #7caadd;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		}

		#extraInput .right input:focus {
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			border-color: #7caadd;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			-o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
			box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		}

	#quantityContainer {
		margin: 27px 0;
	}

	#quantityContainer > div {
		display: inline-block;
		margin: 0 15px;
		background: white;
		height: 50px;
		width: 50px;
		position: relative;
		vertical-align: top;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: 1px solid #cececf;
		border-top-color: #b5b5b6;
		border-bottom-color: #dededf;
		-webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}

	#quantityContainer .icon-navigation-black {
		vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	#quantityContainer > div:not(#quantity) {
		cursor: pointer;
	}

	#quantityContainer > div:not(#quantity):active, #quantityContainer > div:not(#quantity):focus {
		border-color: #7caadd;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		-moz-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		-ms-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		-o-box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;
		box-shadow: inset 0 1px 1px rgba(76,107,153,0.15),0 1px 0 rgba(255,255,255,0),0 0 6px #326cc0;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	#quantity p {
		font-size: 35px;
		margin: 0;
		line-height: 50px;
	}

	#purchaseBtnContainer {
		width: 85%;
		position: relative;
		margin: 20px auto;
		height: 37px;
	}

		#purchase {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: block;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 37px;
			border: 0;
			text-decoration: none;
			background: #45b1e8;
			background-image: -webkit-linear-gradient(#45b1e8,#3097de);
			background-image: -moz-linear-gradient(#45b1e8,#3097de);
			background-image: -ms-linear-gradient(#45b1e8,#3097de);
			background-image: -o-linear-gradient(#45b1e8,#3097de);
			background-image: -webkit-linear-gradient(#45b1e8,#3097de);
			background-image: -moz-linear-gradient(#45b1e8,#3097de);
			background-image: -ms-linear-gradient(#45b1e8,#3097de);
			background-image: -o-linear-gradient(#45b1e8,#3097de);
			background-image: linear-gradient(#45b1e8,#3097de);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			-webkit-font-smoothing: antialiased;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			cursor: pointer;
			outline: 0;
			font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
			font-weight: bold;
			font-size: 17px;
			color: #fff;
			text-shadow: 0 -1px 0 rgba(46,86,153,0.3);
			-webkit-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-moz-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-ms-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-o-box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			box-shadow: 0 1px 0 rgba(46,86,153,0.15),0 0 4px rgba(86,149,219,0),inset 0 2px 0 rgba(41,102,20,0);
			-webkit-transition: box-shadow .15s linear;
			-moz-transition: box-shadow .15s linear;
			-ms-transition: box-shadow .15s linear;
			-o-transition: box-shadow .15s linear;
			transition: box-shadow .15s linear;
		}
		#purchase:focus {
			background-image: -webkit-linear-gradient(#328ac3,#277bbe);
			background-image: -moz-linear-gradient(#328ac3,#277bbe);
			background-image: -ms-linear-gradient(#328ac3,#277bbe);
			background-image: -o-linear-gradient(#328ac3,#277bbe);
			background-image: -webkit-linear-gradient(#328ac3,#277bbe);
			background-image: -moz-linear-gradient(#328ac3,#277bbe);
			background-image: -ms-linear-gradient(#328ac3,#277bbe);
			background-image: -o-linear-gradient(#328ac3,#277bbe);
			background-image: linear-gradient(#328ac3,#277bbe);
		}

.active {
	opacity: 1 !important;
}
.hidden {
	display: none !important;
	opacity: 0 !important;
}

.disabled {
	cursor: not-allowed !important;
	border: none !important;
	outline: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
}

#spinner {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	color: #fff;
	background: rgba(0,0,0,0.5);
}

.noScroll {
	overflow: hidden;
}

.noRightMargin {
	margin-right: 0 !important;
}

.noLeftMargin {
	margin-left: 0 !important;
}

.invalid {
	outline: 0 !important;
	border-color: #ff7076 !important;
	border-top-color: #ff5c61 !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5) !important;
}

.shake {
	-webkit-animation-duration: 400ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-name: panelShakeAnimation;
	-moz-animation-duration: 400ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-name: panelShakeAnimation;
}

/*ANIMATIONS*/
@-moz-keyframes panelShakeAnimation {
	0 {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	12.5% {
		-webkit-transform: translateX(-6px) rotateY(-5deg);
		-moz-transform: translateX(-6px) rotateY(-5deg);
		-ms-transform: translateX(-6px) rotateY(-5deg);
		-o-transform: translateX(-6px) rotateY(-5deg);
		transform: translateX(-6px) rotateY(-5deg);
	}

	37.5% {
		-webkit-transform: translateX(5px) rotateY(4deg);
		-moz-transform: translateX(5px) rotateY(4deg);
		-ms-transform: translateX(5px) rotateY(4deg);
		-o-transform: translateX(5px) rotateY(4deg);
		transform: translateX(5px) rotateY(4deg);
	}

	62.5% {
		-webkit-transform: translateX(-3px) rotateY(-2deg);
		-moz-transform: translateX(-3px) rotateY(-2deg);
		-ms-transform: translateX(-3px) rotateY(-2deg);
		-o-transform: translateX(-3px) rotateY(-2deg);
		transform: translateX(-3px) rotateY(-2deg);
	}

	87.5% {
		-webkit-transform: translateX(2px) rotateY(1deg);
		-moz-transform: translateX(2px) rotateY(1deg);
		-ms-transform: translateX(2px) rotateY(1deg);
		-o-transform: translateX(2px) rotateY(1deg);
		transform: translateX(2px) rotateY(1deg);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	};
}
@-webkit-keyframes panelShakeAnimation {
	0 {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	12.5% {
		-webkit-transform: translateX(-6px) rotateY(-5deg);
		-moz-transform: translateX(-6px) rotateY(-5deg);
		-ms-transform: translateX(-6px) rotateY(-5deg);
		-o-transform: translateX(-6px) rotateY(-5deg);
		transform: translateX(-6px) rotateY(-5deg);
	}

	37.5% {
		-webkit-transform: translateX(5px) rotateY(4deg);
		-moz-transform: translateX(5px) rotateY(4deg);
		-ms-transform: translateX(5px) rotateY(4deg);
		-o-transform: translateX(5px) rotateY(4deg);
		transform: translateX(5px) rotateY(4deg);
	}

	62.5% {
		-webkit-transform: translateX(-3px) rotateY(-2deg);
		-moz-transform: translateX(-3px) rotateY(-2deg);
		-ms-transform: translateX(-3px) rotateY(-2deg);
		-o-transform: translateX(-3px) rotateY(-2deg);
		transform: translateX(-3px) rotateY(-2deg);
	}

	87.5% {
		-webkit-transform: translateX(2px) rotateY(1deg);
		-moz-transform: translateX(2px) rotateY(1deg);
		-ms-transform: translateX(2px) rotateY(1deg);
		-o-transform: translateX(2px) rotateY(1deg);
		transform: translateX(2px) rotateY(1deg);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	};
}
@-o-keyframes panelShakeAnimation {
	0 {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	12.5% {
		-webkit-transform: translateX(-6px) rotateY(-5deg);
		-moz-transform: translateX(-6px) rotateY(-5deg);
		-ms-transform: translateX(-6px) rotateY(-5deg);
		-o-transform: translateX(-6px) rotateY(-5deg);
		transform: translateX(-6px) rotateY(-5deg);
	}

	37.5% {
		-webkit-transform: translateX(5px) rotateY(4deg);
		-moz-transform: translateX(5px) rotateY(4deg);
		-ms-transform: translateX(5px) rotateY(4deg);
		-o-transform: translateX(5px) rotateY(4deg);
		transform: translateX(5px) rotateY(4deg);
	}

	62.5% {
		-webkit-transform: translateX(-3px) rotateY(-2deg);
		-moz-transform: translateX(-3px) rotateY(-2deg);
		-ms-transform: translateX(-3px) rotateY(-2deg);
		-o-transform: translateX(-3px) rotateY(-2deg);
		transform: translateX(-3px) rotateY(-2deg);
	}

	87.5% {
		-webkit-transform: translateX(2px) rotateY(1deg);
		-moz-transform: translateX(2px) rotateY(1deg);
		-ms-transform: translateX(2px) rotateY(1deg);
		-o-transform: translateX(2px) rotateY(1deg);
		transform: translateX(2px) rotateY(1deg);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	};
}
@-ms-keyframes panelShakeAnimation {
	0 {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	12.5% {
		-webkit-transform: translateX(-6px) rotateY(-5deg);
		-moz-transform: translateX(-6px) rotateY(-5deg);
		-ms-transform: translateX(-6px) rotateY(-5deg);
		-o-transform: translateX(-6px) rotateY(-5deg);
		transform: translateX(-6px) rotateY(-5deg);
	}

	37.5% {
		-webkit-transform: translateX(5px) rotateY(4deg);
		-moz-transform: translateX(5px) rotateY(4deg);
		-ms-transform: translateX(5px) rotateY(4deg);
		-o-transform: translateX(5px) rotateY(4deg);
		transform: translateX(5px) rotateY(4deg);
	}

	62.5% {
		-webkit-transform: translateX(-3px) rotateY(-2deg);
		-moz-transform: translateX(-3px) rotateY(-2deg);
		-ms-transform: translateX(-3px) rotateY(-2deg);
		-o-transform: translateX(-3px) rotateY(-2deg);
		transform: translateX(-3px) rotateY(-2deg);
	}

	87.5% {
		-webkit-transform: translateX(2px) rotateY(1deg);
		-moz-transform: translateX(2px) rotateY(1deg);
		-ms-transform: translateX(2px) rotateY(1deg);
		-o-transform: translateX(2px) rotateY(1deg);
		transform: translateX(2px) rotateY(1deg);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	};
}
@keyframes panelShakeAnimation {
	0 {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	12.5% {
		-webkit-transform: translateX(-6px) rotateY(-5deg);
		-moz-transform: translateX(-6px) rotateY(-5deg);
		-ms-transform: translateX(-6px) rotateY(-5deg);
		-o-transform: translateX(-6px) rotateY(-5deg);
		transform: translateX(-6px) rotateY(-5deg);
	}

	37.5% {
		-webkit-transform: translateX(5px) rotateY(4deg);
		-moz-transform: translateX(5px) rotateY(4deg);
		-ms-transform: translateX(5px) rotateY(4deg);
		-o-transform: translateX(5px) rotateY(4deg);
		transform: translateX(5px) rotateY(4deg);
	}

	62.5% {
		-webkit-transform: translateX(-3px) rotateY(-2deg);
		-moz-transform: translateX(-3px) rotateY(-2deg);
		-ms-transform: translateX(-3px) rotateY(-2deg);
		-o-transform: translateX(-3px) rotateY(-2deg);
		transform: translateX(-3px) rotateY(-2deg);
	}

	87.5% {
		-webkit-transform: translateX(2px) rotateY(1deg);
		-moz-transform: translateX(2px) rotateY(1deg);
		-ms-transform: translateX(2px) rotateY(1deg);
		-o-transform: translateX(2px) rotateY(1deg);
		transform: translateX(2px) rotateY(1deg);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	};
}


#gallery {
	height: 75%;
}
	/* SCROLLER */
	#viewport {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background: #444;
		overflow: hidden;
	}

	#wrapper {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	#scroller {
		position: absolute;
		z-index: 1;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		width: 4100%;
		height: 100%;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
		background-color: #444;
	}

	.slide {
		width: 2.4390244%;
		height: 100%;
		float: left;
		position: relative;
	}

	.picture {
		height: 100%;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
	}


.scroll {
	height: 100%;
	width: 5%;
	background: #444;
	z-index: 1000000;
	position: relative;
	cursor: pointer;
}
.scroll:hover {
	background: #333;
}

.scroll:hover .arrowShiftLeft {
	border-right-color: #333;
}

.scroll:hover .arrowShiftRight {
	border-left-color: #333;
}


.scroll.scrollLeft {
	float: left;
}

.scroll.scrollRight {
	float: right;
}

.arrow {
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 20px;

}
.arrowLeft {
	border-right: 30px solid #eee;
}

.arrowShiftLeft {
	border-right: 30px solid #444;
	right: -5px;
}

.arrowRight {
	border-left: 30px solid #eee;
}

.arrowShiftRight {
	border-left: 30px solid #444;
	left: -5px;
}

