* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	font-family: 'Futura', sans-serif;
}

html,body {
	margin: 0;
	height: 100%;
}

h1 {
	font-size: 30px;
	color: #000;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}

h2 {
	font-size: 40px;
	color: #fff;
	font-weight: 400;
}

h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #ccc;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	text-align: right;
	padding: 20px;
	z-index: 1;
	font-size: 14px;
}
	#navBar {
		color: #ccc;
		margin-right: 40px;
	}

		#navBar li {
			display: inline-block;
			margin: 0 6px;
		}
		#navBar a {
			-webkit-transition: 0.2s color linear;
			-moz-transition: 0.2s color linear;
			transition: 0.2s color linear;
		}

		#navBar a:hover {
			color: #27ae60;
		}

main {
	height: 100%;
	width: 100%;
}
	main > * {
		/*height: 100%;*/
	}
	#home {
		height: 100%;
	}

		#home > div {
			height: 100%;
			width: 100%
		}
			#homePic {
				position: absolute;
				top: 0;
				background: url('../images/hawkridge.jpg') no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				/*filter: blur(4px);
				-webkit-filter: blur(4px);*/
			}
			#homeContent {
				position: relative;
				height: 100%;
				text-align: center;
			}
				#homeContent > * {
					position: absolute;
					top: 40%;
					left: 0;
					right: 0;
				}

				#homeContent button {
					background: none;
					outline: 0;
					font-size: 25px;
					border: 1px solid #fff;
					padding: 8px 15px;
					cursor: pointer;
					margin-top: 25px;
					color: #fff;
				}

				#homeContent button {
					-webkit-transition: 0.2s background-color linear;
					-moz-transition: 0.2s background-color linear;
					transition: 0.2s background-color linear;
				}

				#homeContent button:hover {
					background: rgba(255,255,255,0.2);
				}

	#sponsors {
		text-align: center;
	}

		#sponsors li {
			display: inline-block;
			margin: 50px;
		}

			#sponsors li > div {
				height: 200px;
				width: 200px;
				background-color: gray;
				border-radius: 40px;
			}
	#gallery p {
		text-align: center;
	}
		

